<div class="container"><h1>My Tasks</h1>

<ul>
  <% @tasks.each do |task| %>
  <li class="task">
      <%= sanitize @icon = task.completed ? '<i class="far fa-check-square"></i>' : '<i class="far fa-square"></i>' %>
      <%= link_to task.title, task_path(task.id) %>
      <%= link_to task_path(task), method: :delete, data: {confirm: "Are you sure?", class: "modal"} do %>
            <i class="fas fa-trash-alt"></i>
      <% end %>

  </li>
  <% end %>
</ul>

<hr>

<%= link_to tasks_new_path do %>
  <i class="fas fa-plus inline"></i>
  <p class="inline">Add new task</p>
<% end %>
</div>

